[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = ">=10.0"
psycopg2-binary = ">=2.9"
python-decouple = ">=3.8"
gunicorn = ">=21.2"
django = "*"

[dev-packages]

[requires]
python_version = "3.14"
